.contents {
  display: flex;
}

.left, .right {
  padding: 8px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selected-color {
  display: flex;
  gap: 8px;
  align-items: center;

  .color-block {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: solid 0.1rem black;
    border-radius: 0.3rem;
  }

}

.no-data-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 400px;
  height: 400px;
  border: solid 0.1rem black;
  border-radius: 0.3rem;
}
