<table>
  <thead>
  <tr *ngIf="headers() !== undefined">
    <th *ngFor="let key of columnKeys()">
      {{ headers()![key].title }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows()">
    <td *ngFor="let key of columnKeys()">
      <div *ngIf="row[key].type === TableCellType.STRING">
        {{ tableCellOfString(row[key]).value }}
      </div>
      <div *ngIf="row[key].type === TableCellType.NUMBER">
        {{ tableCellOfNumber(row[key]).value | number }}
      </div>
      <div *ngIf="row[key].type === TableCellType.COLOR_PREVIEW" class="color-preview">
        <span
          class="color-preview-inner"
          [style.background-color]="formatAsRgb(tableCellOfColorPreview(row[key]).rgb)"
        ></span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
